<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/homepage.css">
    <link rel="stylesheet" href="../resources/css/root.css">
    <link rel="stylesheet" href="../resources/css/splide.min.css">
    <script src="../resources/js/splide.min.js"></script>
    <script src="../resources/js/homepage.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Myanmar Education Portal</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="../resources/img/logo.png" alt="Myanmar Education Portal">
        </div>
        <div class="right-nav">
            <a href="" class="home sitemenus">Home</a>
            <a href="" class="about sitemenus">About</a>
            <a href="" class="services sitemenus">Services</a>
            <a href="" class="price-plan sitemenus">Price Plan</a>
            <a href="" class="contact-us sitemenus">Contact Us</a>
            <button class="join-now">Join Now</button>
        </div>
        <div id="burgerMenu" class="burger-menu">
            <img src="../resources/img/burger-menu.png" alt="">
        </div>
    </nav>
    <div class="right-nav-col">
        <a href="" class="home sitemenus">Home</a>
        <a href="" class="about sitemenus">About</a>
        <a href="" class="services sitemenus">Services</a>
        <a href="" class="price-plan sitemenus">Price Plan</a>
        <a href="" class="contact-us sitemenus">Contact Us</a>
        <button class="join-now">Join Now</button>
    </div>
    <div class="slogan-container">
        <div class="slogan-text-container">
            <div class="slogan-header">
                <p class="slogan-header-top">Unlock Your Potential</p>
                <p class="slogan-header-bottom">With MEP</p>
            </div>
            <div class="slogan-description">
                Empowering students and professionals with top-notch education resources. We provide educational
                programs and resources designed to help you succeed in your career and personal growth.
            </div>
            <button class="get-started">Get Started</button>
            <div class="information-blocks">
                <div class="user-block info-block">
                    <div class="user-block-value block-values">
                        20K +
                    </div>
                    Users
                </div>
                <div class="institute-block info-block">
                    <div class="institute-block-value block-values">
                        10K +
                    </div>
                    Institutes
                </div>
                <div class="verified-percentage-block info-block">
                    <div class="verified-percentage-block-value block-values">
                        100%
                    </div>
                    Verified
                </div>
            </div>
        </div>
        <div class="slogan-img-container">
            <img src="../resources/img/mainpic.jpg" alt="">
        </div>
    </div>
    <div class="latest-pick-container">
        <div class="latest-pick-header">
            Our <div class="latest-pick-header-colored">Latest Pick</div>
        </div>
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="advert-slot-one advert-slots">
                            <div class="advert-slot-one-image-container">
                                <img src="../resources/img/Mitsubishi.jpg" alt="" class="advert-slots-images">
                            </div>
                            <div class="advert-slot-one-info-container">
                                <div class="advert-slot-one-info-head-container">
                                    <div class="advert-slot-one-info-header">
                                        <div class="advert-slot-one-info-header-value">ABC Institute</div>
                                    </div>
                                    <div class="advert-slot-one-info-rating">
                                        <ion-icon name="star" class="rating-star"></ion-icon>
                                        <div class="advert-slot-one-info-rating-value">4.9</div>
                                    </div>
                                </div>
                                <div class="advert-slot-one-info-about-header">
                                    -About
                                </div>
                                <div class="advert-slot-one-info-about-description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat quasi quas
                                    sint, impedit repudiandae quisquam consectetur, voluptate minus, atque autem aliquid
                                    ipsum minima. Repellat deserunt voluptate molestiae error quisquam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat quasi quas
                                    sint, impedit repudiandae quisquam consectetur, voluptate minus, atque autem aliquid
                                    ipsum minima. Repellat deserunt voluptate molestiae error quisquam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat quasi quas
                                    sint, impedit repudiandae quisquam consectetur, voluptate minus, atque autem aliquid
                                    ipsum minima. Repellat deserunt voluptate molestiae error quisquam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat quasi quas
                                    sint, impedit repudiandae quisquam consectetur, voluptate minus, atque autem aliquid
                                    ipsum minima. Repellat deserunt voluptate molestiae error quisquam.
                                    Repellat deserunt voluptate molestiae error quisquam.
                                </div>
                                <div class="advert-slot-one-info-popular-classes-container">
                                    <div class="advert-slot-one-info-popular">
                                        -Popular
                                    </div>
                                    <div class="advert-slot-one-info-classes">
                                        Classes
                                    </div>
                                </div>
                                <div class="advert-slot-one-info-popular-two-classes-details">
                                    <div class="advert-slot-one-info-popular-first-class">
                                        <div class="advert-slot-one-info-popular-first-class-category">
                                            <div class="popular-class-wrapper">
                                                <ion-icon name="flame"></ion-icon>
                                                <div class="advert-slot-one-info-popular-first-class-category-value">
                                                    Front-End Development</div>
                                            </div>
                                            <div class="advert-slot-one-info-popular-first-class-instructor-value">By
                                                Mr.Matthew Davis</div>
                                        </div>
                                    </div>
                                    <div class="advert-slot-one-info-popular-second-class">
                                        <div class="advert-slot-one-info-popular-second-class-category">
                                            <div class="popular-class-wrapper">
                                                <ion-icon name="flame"></ion-icon>
                                                <div class="advert-slot-one-info-popular-second-class-category-value">
                                                    Business Strategies</div>
                                            </div>
                                            <div class="advert-slot-one-info-popular-second-class-instructor-value">By
                                                Mr.Matthew Davis</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-detail-button"><button class="view-detail">View Detail</button></div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">Slide 02</li>
                    <li class="splide__slide">Slide 03</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-us-container">
        <div class="about-us-header">
            About Us
        </div>
        <div class="about-us-description">
            Welcome to MEP, your trusted partner in education and professional development. We are dedicated to
            empowering students and professionals through high-quality educational programs and resources.
        </div>
        <div class="about-us-body-container">
            <div class="about-us-body-img">
                <img src="../resources/img/Trophy.png" alt="">
            </div>
            <div class="about-us-body-description">
                <div class="about-us-body-description-header">
                    Helping people grow their careers,
                </div>
                <div class="about-us-body-description-header-colored">
                    Everyday!
                </div>
                <div class="about-us-body-description-text">
                    Our platform offers a diverse range of courses and programs tailored to meet the needs of students
                    and professionals alike. Whether you are looking to advance your career, acquire new skills, or
                    explore new fields, MEP is here to guide you every step of the way.
                </div>
            </div>
        </div>
    </div>
    <div class="service-section">
        <div class="service-section-wrapper">
            <div class="service-section-inner-wrapper">
                <div class="service-section-header">
                    Reliable & High-Quality
                </div>
                <div class="service-section-header-colored">
                    Service
                </div>
                <div class="service-section-body">
                    <div class="service-section-body-top">
                        <div class="professional-classes service-blocks">
                            <img src="../resources/img/professional-class.png" alt="" class="top-image">
                            <div class="professional-classes-header service-headers">Professional Classes</div>
                            <div class="professional-classes-description service-descriptions">Enhance your skills and
                                knowledge with our expert-led professional courses in IT, Business, and Language Studies
                                etc...</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                        <div class="workshops-seminars service-blocks">
                            <img src="../resources/img/workshop-seminar.png" alt="" class="top-image">
                            <div class="workshops-seminars-header service-headers">Workshops & Seminars</div>
                            <div class="workshops-seminars-description service-descriptions">Participate in interactive
                                workshops and seminars led by industry experts to stay updated with the latest trends
                                and best practices.</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                        <div class="24/7-support service-blocks">
                            <img src="../resources/img/support.png" alt="" class="top-image">
                            <div class="24/7-support-header service-headers">24/7 Support</div>
                            <div class="24/7-support-description service-descriptions">Access round-the-clock assistance
                                from our dedicated support team. Whether you need technical help, we’re here to help
                                anytime.</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                    </div>
                    <div class="service-section-body-bottom">
                        <div class="media-promotion service-blocks">
                            <img src="../resources/img/media-promotion.png" alt="" class="top-image">
                            <div class="media-promotion-header service-headers">Media Promotion</div>
                            <div class="media-promotion-description service-descriptions">Boost your visibility with our
                                media promotion services. Leverage our platform to reach a wider audience and enhance
                                your brand's presence.</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                        <div class="report-analysis service-blocks">
                            <img src="../resources/img/analysis.png" alt="" class="top-image">
                            <div class="report-analysis-header service-headers">Report & Analysis</div>
                            <div class="report-analysis-description service-descriptions">Gain valuable insights with
                                our detailed reports and analysis. Track your progress make data-driven decisions to
                                optimize your circumstances.</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                        <div class="easy-payment service-blocks">
                            <img src="../resources/img/easy-payment.png" alt="" class="top-image">
                            <div class="easy-payment-header service-headers">Easy Payment</div>
                            <div class="easy-payment-description service-descriptions">Enjoy hassle-free transactions
                                with our easy payment system. Use coin payments to conveniently manage and pay for your
                                promotion of classes.</div>
                            <img src="../resources/img/wavy-bottom.png" alt="" class="bottom-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients-love-section">
        <div class="clients-love-container">
            <div class="clients-love-left-container">
                <div class="clients-love-left-header">
                    Clients Love
                </div>
                <div class="clients-love-left-description">
                    Hear from our satisfied clients who have benefited from our services. Their testimonials and reviews
                    highlight the positive impact our platform has had on their careers and personal growth.
                </div>
                <button class="clients-love-left-contact-us">Contact Us</button>
            </div>
            <div class="clients-love-right-container">
                <div class="clients-love-right-upper-slot clients-love-slots">
                    <div class="clients-love-right-upper-slot-image clients-love-image">
                        <img src="../resources/img/clients-love1.png" alt="">
                    </div>
                    <div class="clients-love-right-upper-slot-text clients-love-text">
                        <div class="clients-love-right-upper-slot-header clients-love-header">
                            XYZ Institute
                        </div>
                        <div class="clients-love-right-upper-slot-description clients-love-description">
                            The exposure we've gained through MEP's media promotion services has been phenomenal. Our
                            classes are always full!
                        </div>
                        <div class="clients-love-right-upper-slot-rating clients-love-rating">
                            <ion-icon name="star" class="clients-love-right-upper-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-upper-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-upper-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-upper-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-upper-slot-rating-star"></ion-icon>
                        </div>
                        <img src="../resources/img/quote.png" alt="" class="clients-love-quotes-img">
                    </div>
                </div>
                <div class="clients-love-right-middle-slot clients-love-slots">
                    <div class="clients-love-right-middle-slot-image clients-love-image">
                        <img src="../resources/img/clients-love1.png" alt="">
                    </div>
                    <div class="clients-love-right-middle-slot-text clients-love-text">
                        <div class="clients-love-right-middle-slot-header clients-love-header">
                            XYZ Institute
                        </div>
                        <div class="clients-love-right-middle-slot-description clients-love-description">
                            The exposure we've gained through MEP's media promotion services has been phenomenal. Our
                            classes are always full!
                        </div>
                        <div class="clients-love-right-middle-slot-rating clients-love-rating">
                            <ion-icon name="star" class="clients-love-right-middle-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-middle-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-middle-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-middle-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-middle-slot-rating-star"></ion-icon>
                        </div>
                        <img src="../resources/img/quote.png" alt="" class="clients-love-quotes-img">
                    </div>
                </div>
                <div class="clients-love-right-bottom-slot clients-love-slots">
                    <div class="clients-love-right-bottom-slot-image clients-love-image">
                        <img src="../resources/img/clients-love1.png" alt="">
                    </div>
                    <div class="clients-love-right-bottom-slot-text clients-love-text">
                        <div class="clients-love-right-bottom-slot-header clients-love-header">
                            XYZ Institute
                        </div>
                        <div class="clients-love-right-bottom-slot-description clients-love-description">
                            The exposure we've gained through MEP's media promotion services has been phenomenal. Our
                            classes are always full!
                        </div>
                        <div class="clients-love-right-bottom-slot-rating clients-love-rating">
                            <ion-icon name="star" class="clients-love-right-bottom-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-bottom-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-bottom-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-bottom-slot-rating-star"></ion-icon>
                            <ion-icon name="star" class="clients-love-right-bottom-slot-rating-star"></ion-icon>
                        </div>
                        <img src="../resources/img/quote.png" alt="" class="clients-love-quotes-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plans-pricing-section">
        <div class="plans-pricing-container">
            <div class="plans-pricing-header-wrapper">
                <label for="plans" class="plans-pricing-header">Plans & Pricing</label>
                <select name="all-plan" id="plans">
                    <option value="personal">Personal
                        <ion-icon name="chevron-down-outline"></ion-icon>
                    </option>
                    <option value="Business">Business
                        <ion-icon name="chevron-down-outline"></ion-icon>
                    </option>
                </select>
            </div>
            <div class="pricing-wrapper-container">
                <div class="pricing-card">
                    <div class="card-header-container">
                        <h2 class="card-header">Basic</h2>
                        <p class="card-price">Free</p>
                        <p class="card-subtitle">Free To Use</p>
                    </div>
                    <div class="card-details">
                        <ul class="free-card-features card-features">
                            <div class="free-card-included included-text"></div>
                            <li><span>&#10003;</span>
                                <div class="free-card-text card-text">Can search and view info of institute and class
                                </div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="free-card-text card-text">Get 3 times consultaion in one month</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="free-card-text card-text">Community Chat</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="free-card-text card-text">Can search and view info of institute and class
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="purchase-button">Purchase Plan</button>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="card-header-container">
                        <h2 class="pro-card-header card-header">Pro</h2>
                        <p class="pro-card-price card-price">500,00 MMK</p>
                        <p class="pro-card-subtitle card-subtitle">One Time Payment</p>
                    </div>
                    <div class="card-details">
                        <ul class="pro-card-features card-features">
                            <div class="pro-card-included included-text">Everything in Basic,and:</div>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Recieve 1000 point each month</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Unlimited consultations</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Support Service</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Schedule</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Access all events</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="pro-card-text card-text">Coupon Codes</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="purchase-button">Purchase Plan</button>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="card-header-container">
                        <h2 class="coin-card-header card-header">Basic</h2>
                        <p class="coin-card-price card-price">Free</p>
                        <p class="coin-card-subtitle card-subtitle">Free To Use</p>
                    </div>
                    <div class="card-details">
                        <ul class="coin-card-features card-features">
                            <div class="coin-card-included included-text"></div>
                            <li><span>&#10003;</span>
                                <div class="coin-card-text card-text">Can buy unlimited</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="coin-card-text card-text">Events</div>
                            </li>
                            <li><span>&#10003;</span>
                                <div class="coin-card-text card-text">Enroll class (need verify)</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="purchase-button">Purchase Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="compare-all-features-section">
        <div class="compare-all-features-header">
            Compare All Features
        </div>
        <div class="compare-all-features-table-container">

        </div>
    </div>
    <div class="contact-us-section">
        <div class="contact-us-wrapper">
            <div class="contact-us-header">
                Contact Us
            </div>
            <div class="contact-us-description-container">
                <div class="contact-us-description-left-container">
                    <div class="colored-top"></div>
                    <div class="contact-us-inner-wrapper">
                        <div class="name-row-input inputs">
                            <input type="text" name="" id="" placeholder="First Name" class="input-boxes">
                            <input type="text" name="" id="" placeholder="Last Name" class="input-boxes">
                        </div>
                        <div class="email-row-input inputs">
                            <input type="text" name="" id="" placeholder="Email Address" class="input-boxes">
                        </div>
                        <div class="subject-row-input inputs">
                            <input type="text" name="" id="" placeholder="Subject" class="input-boxes">
                        </div>
                        <div class="message-row-input inputs">
                            <textarea name="" id="" class="message-input-box input-boxes" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <button class="send-btn">Send <img src="../resources/img/send.png" alt="" class="send-img"></button>
                </div>
                <div class="contact-us-description-right-container"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-flex-container">
            <div class="footer-first-row">
                <div class="footer-logo">
                    <img src="../resources/img/logo.png" alt="Myanmar Education Portal">
                </div>
                <div class="footer-menu">
                    <a href="" class="home footer-list">Home</a>
                    <a href="" class="about footer-list">About</a>
                    <a href="" class="services footer-list">Services</a>
                    <a href="" class="contact-us footer-list">Contact Us</a>
                    <a href="" class="price-plan footer-list">Price Plan</a>
                </div>
            </div>
            <div class="footer-second-row">
                <div class="left-container">
                    <div class="footer-text">"Join MEP , Your Path To Success"</div>
                </div>
                <div class="middle-container">
                    <div class="middle-wrap-container">
                        <p class="navigate-text">Navigate Your Future with Us</p>
                        <div class="subscribe-container">
                            <input type="text" placeholder="email" class="email">
                            <button class="subscribe">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="right-container">
                    <img src="../resources/img/facebook.png" alt="">
                    <img src="../resources/img/instagram.png" alt="">
                    <img src="../resources/img/twitter.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="left-side">
                <p>Myanmar Education Portal © 2024</p>
            </div>
            <div class="right-side">
                <p>Privacy Policy</p>
                <p>Feedback</p>
                <p>FaQ</p>
            </div>
        </div>
    </footer>
</body>

</html>
</body>

</html>