@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border:  1px solid red;
} */


@media (max-width: 768px) {
    #default-carousel:hover .institute-imgs {
        filter: brightness(60%) blur(5px);
    }

    #default-carousel:hover .institute-infos {
        position: absolute;
        left: 25px;
        top: 0;
    }
}

html {
    scroll-behavior: smooth;
}

.active-page {
    background-color: #374151;
    color: #ffffff;
}
