* {
    margin: 0;
    font-family: roboto;
}
/* Start of Navbar */
.user-profile-drop-down{
    position: relative;
}
#profileMenu{
    margin-right: 15px;
    box-shadow: 1px 1px 13px 2px #00000036;
}
/* End of Navbar */
/* Start of User Drop Down */
.user-drop-down-container {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    padding: 15px;
    display: flex;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px #00000036;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: 9999;
    display: none;
}
.show{
    display: flex;
}
.user-drop-down-container:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #00000036;
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
}
.drop-down-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.drop-down-containers:hover {
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}
/* End of User Drop Down */
/* Start of Details Container */
.details-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000000, #666666);
}

.class-details-main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60%;
}

.page-navigation {
    margin-top: 3vh;
    opacity: 0.5;
    display: flex;
    color: #97a8ff;
}

.main-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}
/* Start of Left Details Container */
.left-details-container {
    width: 30%;
    margin-right: 30px;
}

.left-details-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: block;
    height: auto;
    flex-grow: 1;
}

.details-text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.details-fee {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 2vh;
}

.image-enroll-btn {
    color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    padding: 1vh;
    font-size: 0.8em;
    margin-right: 2vh;
    background-color: #0922a2;
}

@media screen and (max-width: 1300px) {
    .main-container {
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .left-details-container {
        width: 50%;
    }
}

/* end of left details container */
/* start of right details container */
.right-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: var(--primary-bg-color);
    width: 63%;
    flex-grow: 1;
}

.details-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-body-text {
    font-size: 1em;
    margin-bottom: 10px;
}

.institute {
    margin-bottom: 5px;
}

.institute-link {
    color: #97a8ff;
    text-decoration: underline;
}

.rating {
    color: #ffb800;
    display: flex;
    margin-bottom: 10px;
}

.star-icons {
    margin-left: 5px;
    margin-right: 5px;
}

.total-ratings {
    color: #97a8ff;
    margin-right: 5px;
}

.student-enrolled {
    color: white;
}

.instructor {
    margin-bottom: 5px;
}

.instructor-link {
    color: #97a8ff;
    text-decoration: underline;
}

.start-date-container,
.end-date-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.start-date-value,
.end-date-value {
    margin-left: 5px;
}

.end-date-container {
    margin-bottom: 15px;
}

.deadline-container {
    display: flex;
}

.deadline-header {
    color: #97a8ff;
}

.deadline {
    margin-left: 5px;
}

.coupon-container {
    margin-top: 15px;
    display: flex;
    width: 345px;
    height: 40.07px;
}

.coupon-code {
    background-color: transparent;
    border: 1px solid white;
    border-right: 0;
    text-indent: 10px;
    width: 70%;
}

.apply-coupon {
    background-color: var(--primary-color);
    width: 30%;
}

/* End of right-details container */
/* End of Main Details Container */
/* Start of Description-container */
.middle-container {
    display: flex;
    justify-content: center;
}

.description-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.description-container {
    margin-top: 2vh;
    width: 60%;
}

/* End of Description container */
/* Start of Enrolled Classes */
.enrolled-classes {
    display: flex;
    justify-content: center;
}

.enrolled-classes-container {
    margin-top: 4vh;
    width: 60%;
}

.enrolled-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.enrolled-classes-details {
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.enrolled-classes-details-duration {
    display: flex;
    gap: 20px;
}

.enrolled-classes-image-container {
    display: flex;
    gap: 20px;
}

.enrolled-classes-image-container img {
    height: 100%;
}

.enrolled-classes-text {
    display: flex;
    flex-direction: column;
}

.enrolled-classes-details-instructor,
.enrolled-classes-details-start-date,
.enrolled-classes-details-end-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.enrolled-classes-details-header {
    font-weight: bold;
}

.enrolled-classes-details-instructor-name {
    color: var(--primary-color);
}

.enrolled-classes-details-start-date-value,
.enrolled-classes-details-end-date-value,
.enrolled-classes-details-deadline-value {
    font-weight: bold;
}

.enrollment-deadline {
    color: #ff0000;
}

.enrolled-classes-details-deadline {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.enrolled-classes-rating {
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.enrolled-star {
    padding-top: 2px;
    color: #ffb800;
}

.enrolled-student-count {
    display: flex;
    gap: 5px;
    font-weight: bold;
}

.enrolled-count {
    padding-top: 2px;
}

.enrolled-details-fee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enrolled-details-fee-value {
    font-size: 1em;
    font-weight: bold;
}

.enrolled-details-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #0922a2;
}

.enrolled-show-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.enrolled-show-more:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

/* End of Enrolled Classes */
/* Start of Institute Informations */
.institute-information-section {
    margin: auto;
    width: 60%;
}

.institute-information-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.institute-information-details {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom: 3vh;
}

.institute-name {
    font-size: 1.5em;
    font-weight: bold;
}

.institute-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.institute-location-google-maps {
    font-weight: bold;
    color: var(--primary-color);
}

.institute-information-contacts {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin-bottom: 3vh;
}

.institute-info-rows {
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.institute-information-contacts-website-value {
    color: var(--primary-color);
}

.institute-information-description {
    margin-bottom: 5vh;
}

/* End of Institute Informations */
/* Start of Instructor Informations */
.instructor-information-section {
    width: 60%;
    margin: auto;
}

.instructor-information-header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3vh;
}

.instructor-information-details-header {
    font-size: 1em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
}

.occupation {
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 3vh;
}

.instructor-information-details-inner-container {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 2vw;
    margin-bottom: 3vh;
}

.instructor-information-details-inner-container-right-container {
    display: flex;
    flex-direction: column;
}

.instructor-info-rows,
.instructor-inner-info-rows {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.instructor-info-rows {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.instructor-info-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.instructor-info-description {
    margin-bottom: 3vh;
}

/* End of Instructor Informations */
/* Start of Footer */
.footer-flex-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.footer-first-row {
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-second-row {
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin: 3vh;
    color: var(--primary-bg-color);
}

.footer-text {
    font-size: 16px;
}

.middle-container {
    text-align: center;
    display: flex;
    align-items: end;
}

.navigate-text {
    font-size: 24px;
    padding-bottom: 10px;
}

.email,
.subscribe {
    margin-top: 1vh;
    border-radius: 5px;
    border: none;
    height: 50px;
}

.email {
    width: 387px;
    padding-left: 10px;
    background-color: var(--font-color);
}

.subscribe {
    font-weight: bold;
    height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

.right-container {
    gap: 3vh;
    align-items: end;
    display: flex;
}

.right-container img {
    height: 50px;
}

.footer-bottom {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: var(--minor-title-H4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vh;
}

.left-side {
    margin-left: 3vh;
}

.right-side {
    gap: 3vh;
    margin-right: 3vh;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 30%;
    margin-left: 3vh;
}

.footer-menu {
    width: 70%;
    display: flex;
    font-size: var(--minor-title-H4);
    gap: 10vh;
    align-items: center;
}

.footer-list {
    color: white !important;
    text-decoration: none;
}

.third-row {
    display: none;
}

@media only screen and (max-width: 1070px) {
    .footer-flex-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-first-row {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3vh;
    }

    .footer-second-row {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .subscribe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe {
        width: 10vw;
    }

    .email {
        width: 25vw;
    }

    .footer-text {
        font-size: 1.3em;
    }

    .navigate-text {
        font-size: 1.2em;
    }

    .right-container {
        display: none;
    }

    .third-row {
        padding-right: 3vh;
        display: flex;
        gap: 3vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-menu {
        padding-left: 3vh;
        flex-direction: column;
        gap: 1vh;
        align-items: flex-start;
    }
}

/* End of Footer */