* {
    margin: 0;
    font-family: roboto;
}

.details-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000000, #666666);
}

.class-details-main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60%;
}

.page-navigation {
    margin-top: 3vh;
    opacity: 0.5;
    display: flex;
    color: #97a8ff;
}

.main-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-details-container {
    width: 30%;
    flex-grow: 1;
    margin-right: 30px;
}

.left-details-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: block;
    height: auto;
    flex-grow: 1;
}

.details-text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.details-fee {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 2vh;
}

.image-enroll-btn {
    color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2vh;
    background-color: #0922a2;
}

/* end of left details container */
/* start of right details container */
.right-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: var(--primary-bg-color);
    width: 63%;
    flex-grow: 1;
}

.details-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-body-text {
    font-size: 1em;
    margin-bottom: 10px;
}

.institute {
    margin-bottom: 5px;
}

.institute-link {
    color: #97a8ff;
    text-decoration: underline;
}

.rating {
    color: #ffb800;
    display: flex;
    margin-bottom: 10px;
}

.star-icons {
    margin-left: 5px;
    margin-right: 5px;
}

.total-ratings {
    color: #97a8ff;
    margin-right: 5px;
}

.student-enrolled {
    color: white;
}

.instructor {
    margin-bottom: 5px;
}

.instructor-link {
    color: #97a8ff;
    text-decoration: underline;
}

.start-date-container,
.end-date-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.start-date-value,
.end-date-value {
    margin-left: 5px;
}

.end-date-container {
    margin-bottom: 15px;
}

.deadline-container {
    display: flex;
}

.deadline-header {
    color: #97a8ff;
}

.deadline {
    margin-left: 5px;
}

.coupon-container {
    margin-top: 15px;
    display: flex;
    width: 345px;
    height: 40.07px;
}

.coupon-code {
    background-color: transparent;
    border: 1px solid white;
    border-right: 0;
    text-indent: 10px;
    width: 70%;
}

.apply-coupon {
    background-color: var(--primary-color);
    width: 30%;
}

/* end of right-details container */
/* Start of Description-container */
.middle-container {
    display: flex;
    justify-content: center;
}

.description-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.description-container {
    margin-top: 2vh;
    width: 60%;
}

/* End of Description container */
/* Start of Enrolled Classes */
.enrolled-classes {
    display: flex;
    justify-content: center;
}

.enrolled-classes-container {
    margin-top: 4vh;
    width: 60%;
}

.enrolled-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.enrolled-classes-details {
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.enrolled-classes-details-duration {
    display: flex;
    gap: 20px;
}

.enrolled-classes-image-container {
    display: flex;
    gap: 20px;
}

.enrolled-classes-image-container img {
    height: 100%;
}

.enrolled-classes-text {
    display: flex;
    flex-direction: column;
}

.enrolled-classes-details-instructor,
.enrolled-classes-details-start-date,
.enrolled-classes-details-end-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.enrolled-classes-details-header {
    font-weight: bold;
}

.enrolled-classes-details-instructor-name {
    color: var(--primary-color);
}

.enrolled-classes-details-start-date-value,
.enrolled-classes-details-end-date-value,
.enrolled-classes-details-deadline-value {
    font-weight: bold;
}

.enrollment-deadline {
    color: #ff0000;
}

.enrolled-classes-details-deadline {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.enrolled-classes-rating {
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.enrolled-star {
    padding-top: 2px;
    color: #ffb800;
}

.enrolled-student-count {
    display: flex;
    gap: 5px;
    font-weight: bold;
}

.enrolled-count {
    padding-top: 2px;
}

.enrolled-details-fee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enrolled-details-fee-value {
    font-size: 1em;
    font-weight: bold;
}

.enrolled-details-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #0922a2;
}
.enrolled-show-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.enrolled-show-more:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
/* End of Enrolled Classes */
/* Start of Institute Informations */
.institute-information-section{
    margin: auto;
    width: 60%;
}
.institute-information-header{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.institute-information-details{
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom: 3vh;
}
.institute-name{
    font-size: 1.5em;
    font-weight: bold;
}
.institute-location{
    display: flex;
    align-items: center;
    gap: 10px;
}
.institute-location-google-maps{
    font-weight: bold;
    color: var(--primary-color);
}
.institute-information-contacts{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin-bottom: 3vh;
}
.institute-info-rows{
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.institute-information-contacts-website-value{
    color: var(--primary-color);
}
.institute-information-description{
    margin-bottom: 5vh;
}
/* End of Institute Informations */
/* Start of Instructor Informations */
.instructor-information-section{
    width: 60%;
    margin: auto;
}
.instructor-information-header{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3vh;
}
.instructor-information-details-header{
    font-size: 1em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
}
.occupation{
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 3vh;
}
.instructor-information-details-inner-container{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 2vw;
    margin-bottom: 3vh;
}
.instructor-information-details-inner-container-right-container{
    display: flex;
    flex-direction: column;
}
.instructor-info-rows,.instructor-inner-info-rows{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.instructor-info-rows{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.instructor-info-header{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vh;
}
.instructor-info-description{
    margin-bottom: 3vh;
}
/* End of Instructor Informations */