@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato",sans-serif;
  }
}

.currents{
  color: blue;
}

.demochart{
  width: 20rem;
  padding: 20px 0;
}

.actives{
  background-color: #374151;
  color: #1c64f2;
}




