@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

/* Start HPP CSS Code
.....................
..................... */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.no-scrollbar {
  scrollbar-width: none;
}

#bar-chart {
  max-height: 200px;
}

/* Finance Chart Container */
#chart-container {
  height: 500px; 
}

#users-pie-chart,
#institutes-pie-chart {
  max-height: 100px;
}

/* Start Calendar Customize */
.fc .fc-toolbar-title {
  font-size: 1em;
  margin: 0;
}

.fc .fc-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s, transform 0.1s;
  outline: none;
}

.fc .fc-button:hover {
  background-color: rgba(160, 175, 255, 0.2);
  color: black;
}

.fc .fc-button:active {
  transform: scale(0.95);
}

.fc .fc-button:focus {
  outline: none;
  box-shadow: none;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  background-color: rgba(160, 175, 255, 0.4);
  box-shadow: none;
}

.fc .fc-today-button {
  display: none;
}

.fc table {
  font-size: 0.9em;
}

.fc-daygrid-row:nth-child(6),
.fc-daygrid-row:nth-child(7) {
  display: none;
}

.fc .fc-daygrid-day {
  height: 5px;
}

.fc .fc-daygrid-day-number {
  font-size: 14px;
  line-height: 5px;
}

.fc-h-event .fc-event-title-container {
  background-color: #8799fd;
}
/* End Calendar Customize */

/* .................
   .................
   End HPP CSS Code*/
